doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        link(rel='stylesheet', href='/stylesheets/lab02.css')
        title Lab02
    body
        .container
            .title
                h2 Artist Directory
                input(type="text" name="")
            .break
            .artist
                .item
                    img(src="https://randomuser.me/api/portraits/med/men/90.jpg" alt="Asian guy" width="75" height="75")
                .artist-pic
                    h3.name Barot Bellingham
                    p.description Royal Academy of Painting and Sculpture
            .artist
                .item
                    img(src="https://randomuser.me/api/portraits/med/men/83.jpg" alt="Black guy" width="75" height="75")
                .artist-pic
                    h3.name Jonathan G. Ferrar II
                    p.description Artist to Watch in 2012
            .artist
                .item
                    img(src="https://randomuser.me/api/portraits/med/women/60.jpg" alt="Cute girl" width="75" height="75")
                .artist-pic
                    h3.name Hillary Hewitt Goldwynn-Post
                    p.description New York University
            .artist
                .item
                    img(src="https://randomuser.me/api/portraits/med/women/35.jpg" alt="Asian lady" width="75" height="75")
                .artist-pic
                    h3.name Hassum Harrod
                    p.description Art College in New Dehli
            .artist
                .item
                    img(src="https://randomuser.me/api/portraits/med/women/40.jpg" alt="Mexican lady" width="75" height="75")
                .artist-pic
                    h3.name Jennifer Jerome
                    p.description Tulft School
