<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    link(rel='stylesheet', href='/stylesheets/mem-game.css')
    script(defer, src='/javascripts/memory-game/script.js')

    <title>Memory Game</title>
</head>
<body>
    <div id="header">
      <h1>Memory Game</h1>
    </div>
    <h3 id="score">score: 0</h3>
    <div id="container">
      <div id="game-container">
        <div>
          <button onclick="clicked(this)" class="button"></button>
          <button onclick="clicked(this)" class="button"></button>
          <button onclick="clicked(this)" class="button"></button>
          <button onclick="clicked(this)" class="button"></button>
          <button onclick="clicked(this)" class="button"></button>
        </div>

        <div>
          <button onclick="clicked(this)" class="button"></button>
          <button onclick="clicked(this)" class="button"></button>
          <button onclick="clicked(this)" class="button"></button>
          <button onclick="clicked(this)" class="button"></button>
          <button onclick="clicked(this)" class="button"></button>
        </div>

        <div>
          <button onclick="clicked(this)" class="button"></button>
          <button onclick="clicked(this)" class="button"></button>
          <button onclick="clicked(this)" class="button"></button>
          <button onclick="clicked(this)" class="button"></button>
          <button onclick="clicked(this)" class="button"></button>
        </div>
      
        <div>
          <button onclick="clicked(this)" class="button"></button>
          <button onclick="clicked(this)" class="button"></button>
          <button onclick="clicked(this)" class="button"></button>
          <button onclick="clicked(this)" class="button"></button>
          <button onclick="clicked(this)" class="button"></button>
        </div>
        
        <div>
          <button onclick="clicked(this)" class="button"></button>
          <button onclick="clicked(this)" class="button"></button>
          <button onclick="clicked(this)" class="button"></button>
          <button onclick="clicked(this)" class="button"></button>
          <button onclick="clicked(this)" class="button"></button>
        </div>
      </div>
    </div>

</body>
</html>