<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    link(rel='stylesheet', href='/stylesheets/mem-game.css')

    //- fancy button
    link(rel='stylesheet', href='https://unpkg.com/purecss@1.0.1/build/pure-min.css', integrity='sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47', crossorigin='anonymous')

    script(defer, src='/javascripts/memory-game/script.js')

    <title>Memory Game</title>
</head>
<body>
    <div id="header">
      <h1>Memory Game</h1>
    </div>
    <h3 id="score">score: </h3>
    <h3 id="round">round: </h3>
    <h3 id="tiles">tiles: </h3>

    <div id="container"></div>

    <button class="trigger">terminate</button>
    <div class="modal">
        <div class="modal-content">
            <span class="close-button">&times;</span>
            <h1>Are you sure you want to submit your score?</h1>
            <h3>You'll be redirected to another page!</h3>
            <button class="pure-button pure-button-primary" onclick="terminateGame()">Yeah, I'm sure!</button>
        </div>
    </div>

</body>
</html>