#header {
    display: flex;
    justify-content: center;
    align-items: center;
    border: double;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: snow;
    padding-top: 1%;
}

#game-container {
    border: 1px solid wheat;
    padding: 10px;
    
}

.button {
    background-color: #f1c40f;
    border: none;
    color: white;
    padding: 30px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button:active {
    background-color: #f1c40f;
    transform: translateY(2px);
}

.button:hover {
    background-color: palegreen;
}

.rotate-90 {
    overflow: hidden;
    transition-duration: 1s;
    transition-property: transform;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

.rotate-neg-90 {
    overflow: hidden;
    transition-duration: 1s;
    transition-property: transform;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
}

.error-img {

    background-image: url(../images/x-50.png);
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(90deg);

    animation-name: example;
    animation-duration: 0.1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 3;
    animation-direction: alternate;
}

@keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {left:10px; top:0px;}
    50%  {left:10px; top:10px;}
    75%  {left:0px; top:10px;}
    100% {left:0px; top:0px;}
    
  }