.table {
  margin-left: auto;
  margin-right: auto;
}

.shadowize {
  box-shadow: 5px 5px 5px grey;
}

/* https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */
.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

#name {
    font-family: 'Zilla Slab', serif;
}

main {
    background: hsl(0, 0%, 96%);
}

.footer {
    background:  hsl(0, 0%, 98%);
    border-top: 1px solid hsl(0, 0%, 86%);
}
